// variables
$black-color: #000
$white-color: #fff
$main-color: #bc9667
/* google fonts url */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200 300 400 500 600 700&display=swap")
// apply mixins

@mixin display-flex
    display: flex

@mixin font-options
    font-family: "Poppins", sans-serif

// apply extend/inheritance
%align-property
    align-items: center

*
    @include font-options
    margin: 0
    padding: 0
    box-sizing: border-box
    scroll-padding-top: 4rem
    scroll-behavior: smooth
    word-wrap: break-word
    text-decoration: none

.sec
    padding: 50px 100px

image  
    width: 100%

body
    color: $black-color

.header
    @extend %align-property
    width: 100%
    top: 0
    right: 0
    @include display-flex
    justify-content: space-between
    padding: 18px 100px
    transition: 0.5s linear
    background: $black-color
    align-items: center

.logo
    height: 60px

.logo image
    width: 5px
    height: 5%

.navbar
    @include display-flex
    a
        padding: 8px 17px
        color: $white-color
        font-size: 1rem
        text-transform: uppercase
        font-weight: 500
    a:hover
        background: $main-color
        border-radius: 0.2rem
        transition: 0.2s all linear
ul
        list-style: none
        @include display-flex
        flex-direction: row
.headerIcon
    font-size: 22px
    cursor: pointer
    z-index: 10000
    @include display-flex
    column-gap: 0.8rem
    .bx
        color: $white-color
    .bx:hover
        color: $main-color

#menu-icon
    color: $white-color
    font-size: 24px
    cursor: pointer
    display: none

.home
    @extend %align-property
    @include display-flex
    width: 100%
    background: url(image/bg.png)
    background-repeat: no-repeat
    background-size: cover
    background-position: center
    flex-direction: row
    align-items: center
    justify-content: space-between

.homeText h1
    font-size: 3.4rem
    color: $main-color
    text-transform: uppercase
    letter-spacing: 1px

.homeText p
    font-size: 0.938rem
    color: $white-color
    margin: 0.5rem 0 1.4rem

.btn
    padding: 10px 40px
    border-radius: 0.3rem
    background: $main-color
    color: $white-color
    font-weight: 500

.btn:hover
    background: #8a6f4d

.about
    @extend %align-property
    @include display-flex
    justify-content: space-evenly
    align-items: center

.aboutImage
    width: 50%

.aboutImage image
    border-radius: 0.5rem

.abImg
    padding: 20px
    width: 100%
    height: 100%

.aboutText
    @include display-flex
    flex-direction: column
    justify-content: center
    padding: 0 2rem
    align-items: start
    width: 50%
    h2
        font-size: 1.8rem
        text-transform: uppercase
    p
        font-size: 0.938rem
        margin: 0.5rem 0 1.1rem

.heading
    text-align: center
    h2
        font-size: 1.8rem
        text-transform: uppercase
