// variables
$black-color: #000
$white-color: #fff
$main-color: #bc9667
/* google fonts url */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200 300 400 500 600 700&display=swap")
// apply mixins

@mixin display-flex
    display: flex

@mixin font-options
    font-family: "Poppins", sans-serif

// apply extend/inheritance
%align-property
    align-items: center

*
    @include font-options
    margin: 0
    padding: 0
    box-sizing: border-box
    scroll-padding-top: 4rem
    scroll-behavior: smooth
    word-wrap: break-word
    text-decoration: none

.sec
    padding: 50px 100px

image  
    width: 100%

body
    color: $black-color

.header
    @extend %align-property
    width: 100%
    top: 0
    right: 0
    @include display-flex
    justify-content: space-between
    padding: 18px 100px
    transition: 0.5s linear
    background: $black-color
    align-items: center

.logo
    height: 60px

.logo image
    width: 5px
    height: 5%

.navbar
    @include display-flex
    a
        padding: 8px 17px
        color: $white-color
        font-size: 1rem
        text-transform: uppercase
        font-weight: 500
    a:hover
        background: $main-color
        border-radius: 0.2rem
        transition: 0.2s all linear
ul
    @include display-flex
    list-style: none
    flex-direction: row
.headerIcon
    font-size: 22px
    cursor: pointer
    z-index: 10000
    @include display-flex
    column-gap: 0.8rem
    .bx
        color: $white-color
    .bx:hover
        color: $main-color

#menu-icon
    color: $white-color
    font-size: 24px
    cursor: pointer
    display: none

.home
    @extend %align-property
    @include display-flex
    width: 100%
    background: url(image/bg.png)
    background-repeat: no-repeat
    background-size: cover
    background-position: center
    flex-direction: row
    align-items: center
    justify-content: space-between

.homeText h1
    font-size: 3.4rem
    color: $main-color
    text-transform: uppercase
    letter-spacing: 1px

.homeText p
    font-size: 0.938rem
    color: $white-color
    margin: 0.5rem 0 1.4rem

.btn
    padding: 10px 40px
    border-radius: 0.3rem
    background: $main-color
    color: $white-color
    font-weight: 500

.btn:hover
    background: #8a6f4d

.about
    @extend %align-property
    @include display-flex
    justify-content: space-evenly
    align-items: center

.aboutImage
    width: 50%

.aboutImage image
    border-radius: 0.5rem

.abImg
    padding: 20px
    width: 100%
    height: 100%

.aboutText
    @include display-flex
    flex-direction: column
    justify-content: center
    padding: 0 2rem
    align-items: start
    width: 50%
    h2
        font-size: 1.8rem
        text-transform: uppercase
    p
        font-size: 0.938rem
        margin: 0.5rem 0 1.1rem

.heading
    text-align: center
    h2
        font-size: 1.8rem
        text-transform: uppercase
.productsContainer
    display: grid
    margin: 1rem 2rem
    grid-template-columns: repeat(auto-fit, minmax(250px, auto))
    gap: 1.5rem
    margin-top: 2rem
    .box
        position: relative
        padding: 10px
        @include display-flex
        flex-direction: column
        justify-content: center
        border-radius: 0.5rem
        box-shadow: 2px 2px 10px 4px rgb(238, 237, 234)
    img
        width: 100%
        height: 250px
        object-fit: contain
        object-position: center
        padding: 20px
        background: #f1f1f1
        border-radius: 0.5rem
    .box h3
        font-size: 1rem
        font-weight: 600
        text-transform: uppercase
        margin: 0.5rem 0 0.5rem
    .box .content
        @include display-flex
        align-items: center
        justify-content: space-around
    .box .content span
        padding: 0 1rem
        color: $white-color
        background: $main-color
        border-radius: 4px
        font-weight: 500
    .box .content a
        padding: 0 1rem
        color: $black-color
        border: 2px solid $main-color
        background: $white-color
        border-radius: 4px
        text-transform: uppercase
    .box .content a:hover
        background: $main-color
        color: $white-color
        transition: 0.2s all linear

.customersContainer
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(250px, auto))
    gap: 1.5rem
    margin: 2rem
    margin-top: 2rem
    img
        width: 300px
    .box
        padding: 20px
        box-shadow: 2px 2px 10px 4px rgb(238, 237, 234)
        border-radius: 0.5rem
        text-align: center
    .box p
        font-size: 0.938rem
    .box h2
        font-size: 1.2rem
        font-weight: 600
        margin: 0.5rem 0 0.5rem
    .box img
        width: 70px
        height: 70px
        border-radius: 50%
        object-fit: cover
    .box:hover
        background: #edeae3
        transition: 0.2s all linear
        cursor: pointer

.stars .bx
    color: $main-color

.footer
    padding: 10px 20px
    @include display-flex
    flex-direction: row
    justify-content: space-between
    gap: 1.5rem

.footerBox h2
    font-size: 1.2rem
    font-weight: 600
    margin-bottom: 10px

.footerBox h3
    font-weight: 600
    margin-bottom: 10px

.footerBox li a
    color: $black-color
    :hover
        color: $main-color

.footerBox ul
    @include display-flex
    flex-direction: column
.footerBox p
    font-size: 0.938rem
    margin-bottom: 10px
.social
    @include display-flex
    align-items: center
    column-gap: 0.5rem
    a .bx
        font-size: 24px
        color: $black-color
        padding: 10px
        background: #edeae3
        border-radius: 0.2rem
    a .bx:hover
        background: $main-color
        color: $white-color

.contact
    @include display-flex
    flex-direction: column
    row-gap: 0.5rem
    span
        @include display-flex
        align-items: center
    i
        font-size: 20px
        margin-right: 1rem

/* making responsive */
@media screen and (max-width: 768px)
.navbar
    display: none

#menu-icon
    display: block

.sec
    padding: 10px

.home
    flex-direction: column
    top: 100px

.about
    margin: 2rem 0
    flex-direction: column

.aboutImage
    width: 100%

.aboutText
    width: 100%
    padding: 0 2rem
    align-items: center

.homeimg img
    width: 100%

.footer
    flex-direction: column
    align-items: center

.fb
    @include display-flex
    flex-direction: column
    align-items: center

.fb > p
    text-align: center

.homeText
    @include display-flex
    flex-direction: column
    justify-content: center
    align-items: center
    padding: 1rem 2rem

.navbar
    display: block
    position: absolute
    background-color: #edeae3
    left: 0
    width: 100%
    top: -100%

.headerIcon
    @include display-flex
    flex-direction: row
    justify-content: center
    align-items: center
    margin-bottom: 10px

.navbar ul
    @include display-flex
    flex-direction: column
    margin: 2rem 0
    align-items: center

ul li  
    line-height: 1.2cm

.navbar a
    color: $black-color

.navbar a:hover
    color: $white-color
    background-color: $main-color

.active
    transition: all 0.5s linear
    top: 0

.i-color
    color: $main-color !important

.footerBox ul
    @include display-flex
    flex-direction: column
